.volverInicio{
    font-size: xx-large;
    margin-left: 52px;
}
.articulo{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 2em;
    margin-top: 2em;
}
.fotoArticulo{
    width: 80%;
    height: auto;
    margin-left: 52px;
    margin-bottom: 2em;
    margin-top: 2em;
}
.articulo h1{
    font-size: 56px;
}
.articulo p{
    text-align: justify;
    width: 80%;
}
@media screen and (max-width: 950px){
    .articulo{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .contenedor{
        margin-left: 0px;
    }
    .volverInicio{
        margin-left: 0px;
    }
}
    
