.contenedor{
    
    margin-left: 52px;
    margin-bottom: 30px;
}
.titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 700 bold;
    line-height: 38px;
    color: #464646;
}
.verTodo{
    border: none;
    background: none;
    color: #2a7ae4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    
}
.verTodo::after{
    color: #2a7ae4;
    content: " →"

}
.tituloConteiner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: space-between ;
    
}
.productos{
    
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill ,minmax(min(100%, 10rem),1fr));
    place-items: center;
}
.productoTitulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #464646;
}
.precioProducto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: #464646;
}
.verProductoBoton{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: #2a7ae4; 
    text-decoration: none;
}
@media screen and (max-width: 950px){
    .contenedor{
        margin-left: 0px;
    }
}    